MusicStore.Web/Service References/MusicGenreMgr/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MusicStore.Core" />
  <xs:element name="GetAllGenreList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenreListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="GetAllGenreListResult" nillable="true" type="q1:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSellingGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSellingGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="GetTopSellingGenresResult" nillable="true" type="q2:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="BrowseGenreResult" nillable="true" type="q3:Genre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>